*, *::after, *::before {
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .link {
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
    color: #fff;
    align-items: center;

    display: block;
    padding: 0 20px;
    background: tomato;
    border-radius: 5px;
}

.wrapper .link:not(:last-child) {
    margin-bottom: 20px;
}